@media(max-width: 600px) {
    header nav {
        display: none;
    }
    main {
        min-height: 100vh;
    }
    main .arrow {
        margin: 1rem;
    }
    .details {
        grid-template-columns: 1fr;
        /* height: 300vh; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    }
    .img-card1 {
        order: -2;
        width: 100%;
        /* height: 300px; */
    }
    .card1 {
        padding: 0rem 1rem 0rem 2rem;
    }
    .card2 {
        padding: 0rem 1rem 0rem 2rem;
    }
    .test-parent-card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 3rem 1rem;
    }
    .test-card {
        padding: 3rem 0.6rem;
        height: 300px;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .gallery img {
        /* width: 250px; */
    }
}